{% extends "base.html" %}
{% block content %}
<div class="p-6">
  
  <!-- En-tête -->
  <div class="flex justify-between items-center mb-6 border border-1 border-[#F58220] px-2 py-2 rounded-xl"> 
    <h1 class="text-2xl font-bold text-[#004F9F]">📋 Liste de toutes les demandes</h1>
      <a href="{% url 'listes_exhaussive' %}" 
         class="bg-[#004F9F] hover:bg-blue-900 text-white px-4 py-2 rounded-lg shadow transition">
         📑 Voir toutes
      </a>
    
  </div>

  <!-- Messages Django -->
  {% if messages %}
      <div class="mb-4 space-y-2">
          {% for message in messages %}
              <div class="
                  px-4 py-2 rounded-lg text-sm font-medium shadow-md
                  {% if message.tags == 'success' %}
                      bg-[#E6F0FA] text-[#004F9F] border border-[#B3D4F2]
                  {% elif message.tags == 'error' %}
                      bg-[#FDECEA] text-[#D93025] border border-[#F5C6CB]
                  {% endif %}
              ">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
  {% endif %}


  <div class="flex justify-end items-end gap-4 mt-6">
  
  </div>
  <div class="flex justify-between bg-white px-2 py-2 gap-4 mb-0 ">
    <h4 class="flex justify-start bg-white px-2 text-xl font-semibold text-[#F58220]">Liste des demandes récentes </h4>
     <a href="{% url 'creer_demande' %}" 
       class="bg-[#F58220] hover:bg-orange-600 text-white px-4 py-2 rounded-2xl shadow transition">
       <i class="fa-solid fa-plus"></i>
    </a>
  </div>
  <!-- Cartes des demandes -->
  <!-- Cartes des demandes -->

<div class="grid grid-cols-1 border border-1 border-[#004F9F] px-2 py-2 rounded-xl sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-2 mb-3">
  {% for d in demandes %}
    <div class="bg-white shadow rounded-lg p-4 hover:shadow-lg transition flex flex-col justify-between">
      
      <!-- Nom -->
      <h2 class="text-lg font-bold text-[#004F9F] mb-2 text-center">
        {{ d.prenom }} {{ d.nom }}
      </h2>

      <!-- Infos -->
      <p><span class="font-semibold">Matériel :</span> {{ d.materiel }}</p>
      <p><span class="font-semibold">Quantité :</span> <span class="bg-[#004F9F] text-white px-2 py-2 rounded-full font-bold">{{ d.quantite }}</span></p>
      <p><span class="font-semibold">Statut :</span> {{ d.get_statut_display }}</p>

      <!-- Bouton Voir -->
      <div class="mt-4 flex justify-center">
        <a href="{% url 'detail_demande' d.pk %}" 
           class="bg-[#F58220] hover:bg-orange-600 text-white px-4 py-2 rounded-lg shadow transition">
            <i class="fa-solid fa-angle-right"></i>
        </a>
      </div>

      

    </div>
  {% empty %}
    <p class="col-span-full text-center py-4 text-gray-500 italic">
      Aucune demande enregistrée.
    </p>
  {% endfor %}
</div>

</div>
{% endblock %}
